<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Android-Test" parallel="tests" thread-count="2">

    <!--SonyXperia_Settings-->
  <test name="Test">
        <parameter name="deviceName" value="OnePlus 6" />
        <parameter name="platformVersion" value="9.0.5" />
        <classes>
            <class name="" />
        </classes>
    </test>

</suite>